Repository HoTT/Coq-HoTT, pull requests merged in 2019-12, with the labels that each got.

#1137 Binary positive integers
  _CoqProject
  theories/Algebra/AbelianGroup.v
  theories/Algebra/Group.v
  theories/Algebra/Z.v
  theories/HIT/Circle.v
  theories/HIT/FreeIntQuotient.v
  theories/Homotopy/HomotopyGroup.v
  theories/Homotopy/Pi1S1.v
  theories/Pointed/Loops.v
  theories/Pointed/pTrunc.v
  theories/Spaces/Int.v
  theories/Spaces/Int/Core.v
  theories/Spaces/Int/Equiv.v
  theories/Spaces/Int/LoopExp.v
  theories/Spaces/Int/Spec.v
  theories/Spaces/Pos.v
  theories/Spaces/Pos/Core.v
  theories/Spaces/Pos/Spec.v
  theories/Spaces/Torus/Torus.v
  theories/Spaces/Torus/TorusHomotopy.v
Labels: cleanup, feature, library organization

#1155 Replace & for sg_op with scopes for * and +, close #976
  theories/Algebra/AbelianGroup.v
  theories/Algebra/Congruence.v
  theories/Algebra/Group.v
  theories/Algebra/QuotientGroup.v
  theories/Algebra/Subgroup.v
  theories/Classes/interfaces/abstract_algebra.v
  theories/Classes/interfaces/canonical_names.v
  theories/Classes/theory/groups.v
  theories/Classes/theory/lattices.v
Labels: bugfix, cleanup, hottclasses, notation

#1158 Get rid of Global Generalizable Variables
  theories/Algebra/Congruence.v
  theories/Algebra/Group.v
  theories/Algebra/Subgroup.v
  theories/Classes/implementations/field_of_fractions.v
  theories/Classes/implementations/list.v
  theories/Classes/implementations/natpair_integers.v
  theories/Classes/interfaces/abstract_algebra.v
  theories/Classes/interfaces/canonical_names.v
  theories/Classes/interfaces/integers.v
  theories/Classes/interfaces/naturals.v
  theories/Classes/interfaces/orders.v
  theories/Classes/interfaces/rationals.v
  theories/Classes/orders/dec_fields.v
  theories/Classes/orders/integers.v
  theories/Classes/orders/lattices.v
  theories/Classes/orders/maps.v
  theories/Classes/orders/nat_int.v
  theories/Classes/orders/naturals.v
  theories/Classes/orders/orders.v
  theories/Classes/orders/rings.v
  theories/Classes/orders/semirings.v
  theories/Classes/orders/sum.v
  theories/Classes/tactics/ring_pol.v
  theories/Classes/tactics/ring_tac.v
  theories/Classes/tests/ring_tac.v
  theories/Classes/theory/additional_operations.v
  theories/Classes/theory/apartness.v
  theories/Classes/theory/dec_fields.v
  theories/Classes/theory/fields.v
  theories/Classes/theory/groups.v
  theories/Classes/theory/int_abs.v
  theories/Classes/theory/integers.v
  theories/Classes/theory/lattices.v
  theories/Classes/theory/nat_distance.v
  theories/Classes/theory/naturals.v
  theories/Classes/theory/premetric.v
  theories/Classes/theory/rings.v
Labels: cleanup, hottclasses

#1146 Group iso is equivalent to path of groups
  theories/Algebra/AbelianGroup.v
  theories/Algebra/Group.v
  theories/Cubical/DPath.v
Labels: cleanup, feature, group theory

#1025 update INSTALL.md, close #929 and #1021
  INSTALL.md
  etc/install_coq_deps.sh
Labels: documentation, install

#1147 H-spaces, closes #984
  _CoqProject
  theories/Homotopy/HSpace.v
Labels: feature, synthetic homotopy

#1149 Induction principle for Join
  theories/Homotopy/Join.v
Labels: feature, synthetic homotopy

#1171 fixed HSpace after generalizable variables removed
  theories/Homotopy/HSpace.v
Labels: quickfix
