Repository HoTT/Coq-HoTT, pull requests merged in 2020-01, with the labels that each got.

#1150 Diamond lemmas for join and join bifunctor
  theories/Homotopy/Join.v
Labels: feature, synthetic homotopy

#1175 Equivalences of pullbacks and sigma types of pullbacks
  theories/Limits/Pullback.v
Labels: feature

#1148 Classifying spaces
  _CoqProject
  theories/Algebra/AbelianGroup.v
  theories/Algebra/Group.v
  theories/Classes/interfaces/canonical_names.v
  theories/HoTT.v
  theories/Homotopy/ClassifyingSpace.v
Labels: feature, synthetic homotopy

#1176 [hoqidetop] Create a shim for coqidetop
  Makefile.am
  configure.ac
  hoq-config.in
  hoqidetop
Labels: coq, feature request, install

#1161 Eilenberg-MacLane spaces
  _CoqProject
  theories/Homotopy/EMSpace.v
Labels: feature, synthetic homotopy

#1151 Various facts about spheres and H-space on S1
  _CoqProject
  theories/Cubical/DPath.v
  theories/Cubical/Square.v
  theories/HIT/Spheres.v
  theories/Homotopy/HSpaceS1.v
Labels: feature, spheres, synthetic homotopy

#1180 Basics of wild 1-categories
  _CoqProject
  theories/Basics/Notations.v
  theories/Basics/Overture.v
  theories/Categories.v
  theories/HoTT.v
  theories/Pointed/Loops.v
  theories/Pointed/pEquiv.v
  theories/Pointed/pFiber.v
  theories/Pointed/pType.v
  theories/WildCat.v
  theories/WildCat/Core.v
  theories/WildCat/EmptyCat.v
  theories/WildCat/Equiv.v
  theories/WildCat/FunctorCat.v
  theories/WildCat/Induced.v
  theories/WildCat/Opposite.v
  theories/WildCat/Prod.v
  theories/WildCat/Sum.v
  theories/WildCat/Type.v
  theories/WildCat/UnitCat.v
  theories/WildCat/Yoneda.v
Labels: category theory, feature

#1177 [README] Update link to HoTT in Lean
  README.md
Labels: documentation

#1189 updated windows install instructions
  INSTALL.md
Labels: install, windows

#1192 results on pTr
  theories/Pointed/pTrunc.v
Labels: feature, truncation

#1152 Cayley-Dickson (from Rijke-Buchholtz)
  _CoqProject
  theories/Classes/interfaces/canonical_names.v
  theories/Homotopy/CayleyDickson.v
  theories/Homotopy/Suspension.v
Labels: feature, synthetic homotopy
